In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['POS_CASH_balance.csv', 'bureau_balance.csv', 'application_train.csv', 'previous_application.csv', 'installments_payments.csv', 'credit_card_balance.csv', 'sample_submission.csv', 'application_test.csv', 'bureau.csv']

In [3]:
application_train_data=pd.read_csv('../input/application_train.csv')

In [4]:
application_train_data.head()

   SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
0      100002             ...                                     1.0
1      100003             ...                                     0.0
2      100004             ...                                     0.0
3      100006             ...                                     NaN
4      100007             ...                                     0.0

[5 rows x 122 columns]

In [5]:
application_train_data.describe()

          SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
count  307511.000000             ...                           265992.000000
mean   278180.518577             ...                                1.899974
std    102790.175348             ...                                1.869295
min    100002.000000             ...                                0.000000
25%    189145.500000             ...                                0.000000
50%    278202.000000             ...                                1.000000
75%    367142.500000             ...                                3.000000
max    456255.000000             ...                               25.000000

[8 rows x 106 columns]

In [47]:
application_train_data.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                      12
AMT_GOODS_PRICE                   0
NAME_TYPE_SUITE                1292
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                       0
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_CONT_MOBILE                  0
FLAG_PHONE                        0
FLAG_EMAIL                        0
OCCUPATION_TYPE               96391
CNT_FAM_MEMBERS                   0
                              ...
DEF_30_CNT_SOCIAL_CIRCLE          0
OBS_60_CNT_SOCIAL_CIRCLE          0
DEF_60_CNT_SOCIAL_CIRCLE          0
DAYS_LAST_PHONE_CHANGE            1
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
AMT_REQ_CREDIT_BUREAU_HOUR        0
AMT_REQ_CREDIT_BUREAU_DAY         0
AMT_REQ_CREDIT_BUREAU_WEEK        0
AMT_REQ_CREDIT_BUREAU_MON         0
AMT_REQ_CREDIT_BUREAU_QRT         0
AMT_REQ_CREDIT_BUREAU_YEAR        0
Length: 122, dtype: int64

**Missing value treatment**

count of family members as count of children + 1 to fill missing values

fill the amt_req_credit columns and cnt_social_circle column with 0<br>
Replace own car age with 0 if flag_own_car is N and 1 if it is Y

In [12]:
application_train_data['CNT_FAM_MEMBERS']=application_train_data['CNT_FAM_MEMBERS'].fillna(application_train_data['CNT_CHILDREN']+1)

In [20]:
application_train_data.loc[(application_train_data['OWN_CAR_AGE'].isna()) &
                       (application_train_data['FLAG_OWN_CAR']=='N'),['OWN_CAR_AGE']]=0

In [36]:
application_train_data.loc[(application_train_data['OWN_CAR_AGE'].isna()) &
                       (application_train_data['FLAG_OWN_CAR']=='Y'),['OWN_CAR_AGE']]=1

**Checking if it is possible to replace the NULLs in OCCUPATION_TYPE column with some default value**

In [28]:
application_train_data.groupby('OCCUPATION_TYPE')['AMT_INCOME_TOTAL'].median().sort_values()

OCCUPATION_TYPE
Cleaning staff           112500.0
Low-skill Laborers       121500.0
Cooking staff            126000.0
Waiters/barmen staff     135000.0
Secretaries              135000.0
Sales staff              135000.0
Medicine staff           135000.0
Security staff           135000.0
Private service staff    157500.0
Laborers                 157500.0
High skill tech staff    157500.0
Core staff               157500.0
HR staff                 158400.0
Accountants              178650.0
Realty agents            180000.0
Drivers                  180000.0
IT staff                 180000.0
Managers                 225000.0
Name: AMT_INCOME_TOTAL, dtype: float64

In [31]:
application_train_data.groupby(['OCCUPATION_TYPE','TARGET'])['AMT_INCOME_TOTAL'].count()

OCCUPATION_TYPE        TARGET
Accountants            0          9339
                       1           474
Cleaning staff         0          4206
                       1           447
Cooking staff          0          5325
                       1           621
Core staff             0         25832
                       1          1738
Drivers                0         16496
                       1          2107
HR staff               0           527
                       1            36
High skill tech staff  0         10679
                       1           701
IT staff               0           492
                       1            34
Laborers               0         49348
                       1          5838
Low-skill Laborers     0          1734
                       1           359
Managers               0         20043
                       1          1328
Medicine staff         0          7965
                       1           572
Private service staff  0          2477
                       1           175
Realty agents          0           692
                       1            59
Sales staff            0         29010
                       1          3092
Secretaries            0          1213
                       1            92
Security staff         0          5999
                       1           722
Waiters/barmen staff   0          1196
                       1           152
Name: AMT_INCOME_TOTAL, dtype: int64

In [42]:
application_train_data[['AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
        'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','AMT_REQ_CREDIT_BUREAU_HOUR']]=application_train_data[['AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
        'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','AMT_REQ_CREDIT_BUREAU_HOUR']].fillna(0)

In [46]:
application_train_data['AMT_GOODS_PRICE']=application_train_data['AMT_GOODS_PRICE'].fillna(
    application_train_data['AMT_CREDIT'])

In [38]:
application_train_data.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [54]:
application_train_data[(application_train_data['CNT_FAM_MEMBERS']-
                        application_train_data['CNT_CHILDREN'])==2].groupby(['CODE_GENDER',
                                                                             'TARGET'])['SK_ID_CURR'].count()

CODE_GENDER  TARGET
F            0         133137
             1          10077
M            0          75255
             1           7734
XNA          0              4
Name: SK_ID_CURR, dtype: int64

In [57]:
(application_train_data['CNT_FAM_MEMBERS']-application_train_data['CNT_CHILDREN']).max()

2.0

In [59]:
application_train_data['AVG_INCOME_MEMBER']=application_train_data['AMT_INCOME_TOTAL']/application_train_data['CNT_FAM_MEMBERS']

In [60]:
application_train_data['SINGLE_PARENT']=np.where(application_train_data['CNT_FAM_MEMBERS']-
                                                 application_train_data['CNT_CHILDREN']==1,1,0)

In [61]:
application_train_data.groupby(['SINGLE_PARENT','TARGET'])['SK_ID_CURR'].count()

SINGLE_PARENT  TARGET
0              0         208396
               1          17811
1              0          74290
               1           7014
Name: SK_ID_CURR, dtype: int64